
.container {
     box-shadow: 10px 10px 8px #888888;
}
.mesMotifs{
    width : 900px;
    margin : auto;
    background-color : whitesmoke;
}
.mesMotifs .row{
    border : 1px solid red;
 
    
}
.mesMotifs .row div{
    height : 50px;
}
.mesMotifs .row .title h2{
      text-align : center;
      color: #4272d7;
}

.allMotifs {
    
    width : 900px;
    margin : 50px auto ;
    background-color : whitesmoke;

}
.allMotifs .row {}
.allMotifs .row div{
    height : 50px;
}
.allMotifs .row .title h2{
    text-align : center;
    color : #4272d7;
}

.margin {
    padding-left : 50px ; 
}

.margin2 {
    padding-left : 35px ; 
}